$primary: #000000;
$bg: rgb(235, 242, 255);
$lite: navajowhite;

textarea:focus,
input:focus {
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    user-select: none;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    // background: #dae3ff; /* fallback for old browsers */

    background: linear-gradient(
        to bottom,
        #ffffff,
        #e8edff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.phone {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 780px;
    background-color: white;
    //background-color: black;
    border-radius: 40px;
    box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 1px 50px 100px 3px #cdd7ff;
    overflow: hidden;
    position: relative;
    transform: scale(0.9);
}

.ui {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 94%;
}

.bottom-nav {
    display: flex;
    width: 100%;
    min-height: 6%;
    margin-top: auto;
    background-color: $lite;
    justify-content: space-between;
}

.routeBtn {
    display: flex;
    width: 50%;
    justify-content: center;
}

.routeIcon {
    width: 1.5rem;
    object-fit: contain;
}

.y-scroll {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 90vh;
}

.y-scroll::-webkit-scrollbar {
    width: 0 !important;
}

@media only screen and (max-width: 600px) {
    .phone {
        width: 100vw;
        border: none;
        box-shadow: none;
        border-radius: 0;
        height: 100vh;
        transform: scale(1);
    }
}

.form-page {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

.form-nav {
    display: flex;
    align-items: center;
    height: 8%;
    background-color: $bg;
    color: white;
    font-family: "Montserrat", sans-serif;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-weight: 400;
        font-size: 1.5rem;
        color: orange;
    }
    padding: 0 1.5rem 0;

    img {
        object-fit: contain;
        height: 5vh;
    }
}
.form-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: $bg;
}

.y-scroll-form {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 92%;
}

.y-scroll-form::-webkit-scrollbar {
    width: 0 !important;
}

#form {
    margin: 0 0.5rem 0;
    label {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat";
        font-weight: 500;
        margin: 1rem 1.5rem 0.5rem;
        color: rgb(66, 66, 66);

        height: max-content;
    }

    input,
    textarea {
        max-width: 100%;
        font-size: 1rem;
        background-color: rgb(255, 255, 255);
        border: 1.75px solid rgb(240, 240, 240);
        border-radius: 10px;
        padding: 0.25rem 0.5rem 0.25rem;
        font-family: "Roboto", sans-serif;
        color: #00115c;
        font-weight: 400;
        margin: 0.5rem 0 1rem;
        height: 1.75rem;
    }

    textarea {
        height: auto;
    }
}

.submit {
    display: flex;
    width: 100%;
    height: 2.5rem;
    justify-content: center;
    margin: 0 0 1rem;

    button {
        width: 80%;
        border-radius: 25px;
        background-color: orange;
        border: none;
        color: white;

        font-size: 1.25rem;
        font-family: "Montserrat";
        font-weight: 500;
    }
}

.search-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    background-color: rgb(235, 242, 255);
}
.y-scroll-search {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    width: 100%;
}

.y-scroll-search::-webkit-scrollbar {
    width: 0 !important;
}

.search-nav {
    display: flex;
    width: 100%;

    background-color: $bg;
    margin-bottom: 1%;
    margin-top: 1%;
    flex-direction: column;
    z-index: 10;
    align-items: center;
    justify-content: space-between;

    h1 {
        font-family: "Montserrat";
        color: white;
        font-size: 1rem;
        font-weight: 400;
    }
}

.search-option {
    display: flex;

    justify-content: space-evenly;
    width: 100%;
    button {
        border: none;
        height: 2.5rem;
        width: 10rem;
        border-radius: 5px 5px 0 0;
        border-bottom: 5px solid rgb(240, 240, 240);
        color: $primary;
        background-color: $primary;
        font-size: 1rem;
        font-family: "Roboto", sans-serif;
        background-color: rgb(240, 240, 240);
        font-family: "Roboto", sans-serif;
        font-size: 1.25rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
    }
}

.search-bar {
    display: flex;
    width: 90%;
    align-items: center;

    margin: 0.5rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;

    input {
        height: 2.7rem;

        padding: 0 1rem 0;
        display: flex;
        text-align: center;
        border-radius: 8px;
        font-size: 1.25rem;
        font-family: "Montserrat", sans-serif;
        color: rgb(58, 58, 58);
        border: none;
        width: 100%;
        font-weight: 500;
    }
    button {
        height: 2.7rem;
        padding: 0;
        margin: 0;
        margin-left: auto;

        border: none;
        width: 30%;

        border-radius: none;
        font-size: 1.15rem;
        color: $primary;
        background-color: rgb(214, 214, 214);
    }
}

.search-results-view {
    display: flex;
    height: 90%;
}

.search-result {
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    background-color: white;
    border-radius: 15px;
    padding: 0.75rem;

    justify-content: space-between;
    overflow: hidden;
    border-left: 0.5rem solid orange;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 8px 15px rgb(209, 209, 209);
    position: relative;

    span {
        display: flex;
    }

    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        margin: 0.5rem 0 0.5rem;
        margin-right: 1rem;
        color: black;
        font-weight: 500;
    }

    .q {
        color: rgb(124, 124, 124);
        font-weight: 400;
    }
}

.expand-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    font-size: 0.5rem;
    background-color: $lite;

    img {
        height: 1.25rem;
        margin-left: 0.5rem;
    }
}
